<div class="todos">
    <form (submit)="addTodo()">
        <input type="text" name="inputTodo" placeholder="Enter todo..." class="todo-input" [(ngModel)]="inputTodo">
        <input type="submit" value="Add Todo" class="todo-submit">
    </form>
    <div  *ngFor="let todo of todos; let i = index;"class="todo {{(todo.completed ? 'done':'' )}}">
        <div class="checkbox"><input type="checkbox" [checked]="todo.completed" (change)="toggleDone(i)"></div>
        <div class="id">
            {{i}}
        </div>

        <div class="content" (click)="toggleDone(i)">{{todo.content}}</div>
        <button class="delete"(click)="deleteTodo(i)">Remove</button>
    </div><br>
    <div class="status">
        <span class="pending">Pending: {{getPendingCount()}}</span><br>
        <span class="completed">Completed: {{getCompletedCount()}}</span>
    </div>
</div>